@model MyBlogProject.Entity.Models.User
@{
    ViewBag.Title = "UserSignIn";
}
<head>
    <link href="~/Content/UnExpectedSituation.css" rel="stylesheet" />
    <link href="~/Content/LoginPage.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="col-md-6 login-form-1">
                @Html.ValidationSummary(true, "", new { @class = "text-danger my-notify-error" });
               
                <h3>Sign In</h3>
                @using (Html.BeginForm())
                {
                        @Html.AntiForgeryToken();

                    <div class="form-group">
                        @Html.EditorFor(x => x.EMailAdress,new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Email *", @type = "text" } });
                        @Html.ValidationMessageFor(model => model.EMailAdress, "", new { @class = "text-danger" });
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Password *", @type = "text" } });
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" });
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                }
                <div class="form-group">
                    @Html.ActionLink("Forgot Password ?", "ChancePassword", "UserLogin", new { @class = "btnForgetPwd" });
                </div>
                <br />
                @Html.ActionLink("Sign Up", "UserSignUp", "UserLogin", new { @class = "btnForgetPwd" })
            </div>
        </div>
    </div>
</div>