@model MyBlogProject.Entity.Models.User
@{
    ViewBag.Title = "UserSignIn";
}
<style>
    .login-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .login-logo {
        position: relative;
        margin-left: -41.5%;
    }

        .login-logo img {
            position: absolute;
            width: 20%;
            margin-top: 19%;
            background: #282726;
            border-radius: 4.5rem;
            padding: 5%;
        }

    .login-form-1 {
        padding: 9%;
        background: #282726;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

        .login-form-1 h3 {
            text-align: center;
            margin-bottom: 12%;
            color: #fff;
        }

    .login-form-2 {
        padding: 9%;
        background: #f05837;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

        .login-form-2 h3 {
            text-align: center;
            margin-bottom: 12%;
            color: #fff;
        }

    .btnSubmit {
        font-weight: 600;
        width: 50%;
        color: #282726;
        background-color: green;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
    }

    .btnForgetPwd {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }

        .btnForgetPwd:hover {
            text-decoration: none;
            color: #fff;
        }

    }
</style>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="col-md-6 login-form-1">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" });
                <h3>Sign In</h3>
                @using (Html.BeginForm())
                {
                        @Html.AntiForgeryToken();

                    <div class="form-group">
                        @Html.EditorFor(x => x.EMailAdress,new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Email *", @type = "text" } });
                        @Html.ValidationMessageFor(model => model.EMailAdress, "", new { @class = "text-danger" });
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Password *", @type = "text" } });
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" });
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                }
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">Forget Password?</a>
                </div>
                <br />
                @Html.ActionLink("Sign Up", "UserSignUp", "UserLogin", new { @class = "btnForgetPwd" })
            </div>
        </div>
    </div>
</div>